main{
    font-size: xx-large;
    text-align: center;
}

nav {
    
    color: black;
    background-color:fuchsia;
    border-radius: 40px;
}

.div1{
    display: flex;
}

section{
    display: flex;
}

header {
    color: black;
    background-color: mediumspringgreen;
    border-radius: 40px;
    width: 400px;
    height: 100px;
}

aside{
    margin-left: 20px;
    color: black;
    background-color: darksalmon;
    border-radius: 40px;
    width: 50px;
    height: 400px;
}

.section1{
    text-align: center;
    margin: 10px;
    color: black;
    background-color: powderblue;
    border-radius: 40px;
    width: 150px;
    height: 100px;
}

.section2{
    text-align: center;
    margin: 10px;
    color: black;
    background-color: powderblue;
    border-radius: 40px;
    width: 150px;
    height: 100px;
}

footer{
    font-size: xx-large;
    text-align: center;
    align-items: center;
    color: black;
    background-color: sandybrown;
    border-radius: 40px;
}   